<div class="container">
    <div class="main-panel">
        <h1>the little blockchain gatekeeper system™ v0.3.14</h1>
        <div class="bc-c2">
            <div id="bc1" class="bc-well">
                <form class="bc-form">
                    <div class="form-group">
                        <label for="bc1num">Block:</label>
                        <span class="form-static-text">#</span>
                        <input class="bcnum" id="bc1num" type="text" ng-model="b1.num" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bc1nonce">Nonce:</label>
                        <input id="bc1nonce" type="text" ng-model="b1.nonce" readonly>
                    </div>
                    <div class="form-group">
                        <label class="bc-data-label" for="bc1data">Data:</label>
                        <textarea id="bc1data" rows="8" ng-model="b1.data" ng-change="update()"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bc1prevhash">Précédent:</label>
                        <input id="bc1prevhash" type="text" ng-model="b1.prev" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bc1hash">Hash:</label>
                        <input id="bc1hash" type="text" ng-model="b1.hash" readonly>
                    </div>
                </form>
            </div>
            <div id="bc2" class="bc-well">
                <form class="bc-form">
                    <div class="form-group">
                        <label for="bc2num">Block:</label>
                        <span class="form-static-text">#</span>
                        <input class="bcnum" id="bc2num" type="text" ng-model="b2.num" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bc2nonce">Nonce:</label>
                        <input id="bc2nonce" type="text" ng-model="b2.nonce" readonly>
                    </div>
                    <div class="form-group">
                        <label class="bc-data-label" for="bc2data">Data:</label>
                        <textarea id="bc2data" rows="8" ng-model="b2.data" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bc2prevhash">Précédent:</label>
                        <input id="bc2prevhash" type="text" ng-model="b2.prev" ng-change="update()">
                    </div>
                    <div class="form-group">
                        <label for="bc2hash">Hash:</label>
                        <input id="bc2hash" type="text" ng-model="b2.hash" readonly>
                    </div>
                </form>
            </div>
            <div id="bc3" class="bc-well">
                <form class="bc-form">
                    <div class="form-group">
                        <label for="bc3num">Block:</label>
                        <span class="form-static-text">#</span>
                        <input class="bcnum" id="bc3num" type="text" ng-model="b3.num" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bc3nonce">Nonce:</label>
                        <input id="bc3nonce" type="text" ng-model="b3.nonce" ng-change="update()">
                    </div>
                    <div class="form-group">
                        <label class="bc-data-label" for="bc3data">Data:</label>
                        <textarea id="bc3data" rows="8" ng-model="b3.data" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label for="bc3prevhash">Précédent:</label>
                        <input id="bc3prevhash" type="text" ng-model="b3.prev" readonly>
                    </div>
                    <div class="form-group">
                        <label for="bc3hash">Hash:</label>
                        <input id="bc3hash" type="text" ng-model="b3.hash" readonly>
                    </div>
                </form>
            </div>
        </div>
        <a class="chev" href="#"><i class="fa fa-chevron-down faa-float animated" id="bc-chevron" onclick="showHelp();" aria-hidden="true"></i></a>
        <div class="help-slide-up help-slide-hide" id="help-slide">
            <div class="help-slide-modal bc-modal-hide">
                <form class="bc-help-form">
                    <label for="bc-email">Email</label>
                    <input type="email" id="bd-email">
                </form>
            </div>
        </div>
    </div>
</div>