html {
  overflow: auto;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #00b7ff;
}
.bc-c2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.bc-well {
  width: 100%;
  max-width: 450px;
}
.container {
  height: 100%;
  width: 100%;
}
.form-group {
  margin: 15px;
}
.help-slide-up {
  margin: auto;
  margin-bottom: 10px;
}
.main-panel {
  height: calc(100vh - 150px);
  margin: 75px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(128,128,128,0.3);
}
textarea {
  vertical-align: top;
}
.chev {
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 1px #666;
}
#rotatingGlobe {
  width: 650px;
  height: 650px;
  margin-left: -12%;
  margin-top: -6.5%;
  position: absolute;
  z-index: -1;
}
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
}
form .form-group {
  display: flex;
  justify-content: space-between;
}
form .form-group label{
  width: 100%;
}
form .form-group input, form .form-group textarea{
  width: 100%;
  padding: 10px 16px;
}